.glightbox-inline-content {
	width: fit-content !important;
	max-width: 80vw !important;
	padding: 0 !important;
	/* for debug */
	box-sizing: border-box !important;
	overflow-x: hidden !important;
}

.glightbox-inline-content > div {
	width: fit-content !important;
	max-width: 80vw !important;
	max-height: 80vh !important;
	overflow-y: auto !important;
	overflow-x: hidden !important;
	box-sizing: border-box !important;
}

.gslide {
	width: fit-content !important;
	max-width: 100% !important;
	max-height: 100% !important;
	overflow: hidden !important;
}
