---
import MainLayout from '../layouts/MainLayout.astro';
import FeaturedGallery from '../components/FeaturedGallery.astro';
---

<MainLayout>
	<section class="featured-section py-20">
		<FeaturedGallery />
	</section>
</MainLayout>
